@import "../../main.css";

.flight .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.flight .part-1::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s;
}

.flight:hover .part-1::before {
    transform: scale(1.2,1.2) rotate(5deg);
}

.flight .part-2 .product-title {
    font-size: 1rem;
}

.flight .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}
