@import '../../main.css';

.search-bar {
    border-radius: 12px;
    background-color: #cacaca;
    color: #000000;
    margin-bottom: 15px;
}

.search-bar-input {
    margin-left: 7px;
    margin-right: 7px;
}
