@import '../../main.css';

.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-left: 20px;
}

.sign-up-form {
    height: 90%;
    width: 90%;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 20px;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 25px;
}

.sign-up-form-content {
    padding-left: 12%;
    padding-right: 12%;
}
