@import '../../main.css';

.tickets-search-bar {
    border-radius: 12px;
    background-color: #cacaca;
    color: #000000;
    margin-top: 30px;
}

.tickets-search-bar-input {
    margin-left: 7px;
    margin-right: 7px;
}
